config AMLOGIC_MESON_CPUFREQ
	bool "Meson CPU Frequency scaling support"
	depends on PLAT_MESON
	help
	  This adds the CPUFreq driver for Meson series CPU

config FIX_SYSPLL
    bool "Meson CPU Fix syspll mode support"
    help
        This add fix sys pll mode support for M8baby
