#
# Video output configuration
#

menuconfig AMLOGIC_VOUT2
	tristate "Amlogic video output2 support"
	default n
	help
		Amlogic video output2 support

if AMLOGIC_VOUT2

config AML_TVOUT2
	tristate "Video output2 and control module"
	default n
	help
		Video output and control module support

endif
