#
# Kconfig for Amlogic LCD Devices
#

menuconfig AMLOGIC_LCD
	bool "Amlogic LCD support"
	default n
	help
	  Amlogic LCD modules and controls

if AMLOGIC_LCD

config AML_LCD_TV
	bool "Amlogic TV LCD module"
	default n
	help
	  Amlogic TV LCD module support

source "drivers/amlogic/display/lcd/aml_lcd_extern/Kconfig"

endif
